{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<html>
	<!-- HTML Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
        
        <link href="{% static 'assets/css/Plugins/uploadfile/uploadfile.css' %}" rel="stylesheet">
        <!-- Load upload file plugin -->
        <script src="{% static "assets/js/Plugins/uploadfile/jquery.uploadfile.min.js" %}"></script>
	</head>
	<!-- HTML Body -->
	<body>
        <div id="wrapper">
            <!-- Header -->
                <header id="header" >
                    <h1 id = "id_headertext">You selected article!</h1>
                </header>

                <section id="news_article">
                <div class="container">
                
                    <div>
                        <h4> Title </h4>
                        <input id = "articleTitle" type="text"></input>
                    </div>
                </br>
                    <div>
                        <h4> Short description </h4>
                        <textarea id="shortArticleDescription" rows="4" cols="50"></textarea>
                    </div>
                </br>
                    <div>
                        <h4> Long description </h4>
                        <div style="height: 250px" id="quillDescription">
                        </div>
                    </div>
                </br>
                    <div>
                        <h4> Add a saved quiz </h4>
                        <select
                        id="quizSelection"
                        class="form-control"
                        name="quizSelection"
                        data-source = "http://127.0.0.1:7000/v1/quiz/"
                        data-valueKey="id"
                        data-displayKey="name"></select>
                    </div>
                </br>
                    <div> 
                        <h4> Upload documentation </h4>
                        <div id="fileuploader">Upload</div>
                    </div>
            </div> 
            </br>
            <button onclick="submitArticle();">Submit</button>
            </section>
        </div>
    </body>
    <!-- STYLE PART -->
    <style>
        b{
            color:black;
        }
    </style>
    <!-- SCRIPT PART -->
    <script>
    var articleDescription;
    var uploadObj;
    var articleID = 0;

    $(document).ready(function()
    {
            articleDescription = new Quill('#quillDescription', {
            theme: 'snow'
        });
        uploadObj = $("#fileuploader").uploadFile({
            allowedTypes:"jpg,txt,pdf,docx",
            url:APIUrl + "fileupload/",
            autoSubmit:false,
            fileName:"myfile",
            maxFileCount:1,
            afterUploadAll : function(response)
            {
                var responses = uploadObj.getResponses();
                $.ajax({
                    url: APIUrl + "fileupload/",
                    type: "PUT",
                    data : {'ArticleId':articleID, 'FileID': responses[0].id}
                })
            }
        });
        $('select[data-source]').each(function() {
            var $select = $(this);
            $select.append('<option></option>');
            
            $.ajax({
                url: $select.attr('data-source'),
            }).then(function(options) {
                options.map(function(option) {
                var $option = $('<option>');
                
                $option
                    .val(option[$select.attr('data-valueKey')])
                    .text(option[$select.attr('data-displayKey')]);
                
                $select.append($option);
                });
            });
        });
    });

    function submitArticle()
    {
        var request = $.ajax({
            url: APIUrl + "article/",
            type: "POST",
            data: {
                'ArticleTitle' : $('#articleTitle').val(),
                'ArticleDescription' : articleDescription.container.innerHTML,
                'ArticleShortDescription': $('#shortArticleDescription').val(),
                'ArticleQuiz' : $('select#quizSelection option:selected').val(),
                'Creator' : "{{ me }}",
            },
            success: function(data) {
                articleID = data;
                uploadObj.startUpload();
                DisplayResults(request);
            }
            });
    }
    </script>
</html>

{% endblock content %}