{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
        
        <link href="{% static 'assets/css/Plugins/uploadfile/uploadfile.css' %}" rel="stylesheet">
        <!-- Load upload file plugin -->
        <script src="{% static "assets/js/Plugins/uploadfile/jquery.uploadfile.min.js" %}"></script>
	</head>
	<!-- Body -->
	<body>
        <div id="wrapper">
            <!-- Header -->
                <header id="header" >
                    <h1 id = "id_headertext">You selected article!</h1>
                </header>

                <section id="news_article">
                <div class="container">
                
                    <div>
                        <h4> Title </h4>
                        <input id = "articleTitle" type="text"></input>
                    </div>
                </br>
                    <div>
                        <h4> Short description </h4>
                        <textarea id="shortArticleDescription" rows="4" cols="50"></textarea>
                    </div>
                </br>
                    <div>
                        <h4> Long description </h4>
                        <div id="longArticleDescription">
                        </div>
                    </div>
                </br>
                    <div>
                        <h4> Add a saved quiz </h4>
                        <select
                        id="quizSelection"
                        class="form-control"
                        name="quizSelection"
                        data-source="http://127.0.0.1:7000/v1/quiz/"
                        data-valueKey="id"
                        data-displayKey="name"></select>
                    </div>
                </br>
                    <div> 
                        <h4> Upload documentation </h4>
                        <div id="fileuploader">Upload</div>
                    </div>
            </div> 
            </br>
            <button onclick="submitArticle();">Submit</button>
            </section>
        </div>
    </body>
</html>
<script>
var missionType = ""; 
var articleDescription;
var uploadObj;
var id = 0;

$(document).ready(function()
{
    articleDescription = new Quill('#longArticleDescription', {
        theme: 'snow'
    });
    uploadObj = $("#fileuploader").uploadFile({
        allowedTypes:"jpg,txt,pdf,docx",
        url:"http://127.0.0.1:7000/v1/news/fileupload/",
        autoSubmit:false,
        fileName:"myfile",
        maxFileCount:1,
        afterUploadAll : function(response)
        {
            var responses = uploadObj.getResponses();
            myJson2 = {};
            myJson2['ArticleID'] = id;
            myJson2['FileID'] = responses[0].id;
            var request = $.ajax({
                url: "http://127.0.0.1:7000/v1/news/fileupload/",
                type: "PUT",
                data : myJson2,
                success : function(result)
                {
                }
            })
        }
    });
    $('select[data-source]').each(function() {
        var $select = $(this);
        
        $select.append('<option></option>');
        
        $.ajax({
            url: $select.attr('data-source'),
        }).then(function(options) {
            options.map(function(option) {
            var $option = $('<option>');
            
            $option
                .val(option[$select.attr('data-valueKey')])
                .text(option[$select.attr('data-displayKey')]);
            
            $select.append($option);
            });
        });
    });
});

function submitArticle()
{
    var myJson = {};
    var linkItems = {};
    myJson["ArticleTitle"] = $('#articleTitle').val(); 
    myJson["ArticleDescription"] = articleDescription.container.innerHTML;
    myJson["ArticleShortDescription"] = $('#shortArticleDescription').val();
    myJson["ArticleQuiz"] = $('select#quizSelection option:selected').val();
    myJson["Creator"] = "{{ me }}"
    // alert(JSON.stringify(myJson));
    var request = $.ajax({
        url: "http://127.0.0.1:7000/v1/news/",
        type: "POST",
        data: myJson,
        success: function(data) {
            id = data;
            uploadObj.startUpload();
            DisplayResults(request);
        }
        });
}
</script>
{% endblock content %}