{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<html>
	<!-- HTML Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
	</head>
	<!-- HTML Body -->
	<body>
        <div id="wrapper">
            <header id="header" >
                <h1 id = "headerText">So you want to create a quiz? </h1>
                <h2 id = "headerText2" style ="color: white"> Please provide a title and a description</h2>
            </header>

            <section id="section1" >
                <div class="container">
                    <h4> Title </h4>
                    <input id = "quizTitle" type="text"></input>
                <br/>
                <h4> Description </h4>
                <div style="height: 250px" id="quizDescription">
                </div>
                <br/>
                <h4> Time to be allowed: </h4>
                <input id="quizTimer" 
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="number" maxlength="2"></input>
                </div>
                <br/>
                <button onclick="quizstage1();"> Submit </button>
            </section>
            <section id="section2" class="hidden">  
                <div class="container">
                    <form id="quizform">
                        <ul id="id_quizlist" style="list-style-type:none">
                            <li>
                                <table class="table" id="id_createquiztable">
                                    <tr>
                                        <td><label for="question">Question: </label></td>
                                        <td><input id="question" type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_A">Answer A: </label></td>
                                        <td><input id="id_A"" type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_B">Answer B: </label></td>
                                        <td><input id="id_B" type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_C">Answer C: </label></td>
                                        <td><input id="id_C" type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_correctanswer">Correct answer: </label></td>
                                        <td allign ="center">
                                                <label for ="id_correctanswerA">
                                                    A
                                                    <input id="id_correctanswerA" name="correctanswer" type="radio" style="height:35px; width:35px; vertical-align: middle;" value="A"/>
                                                </label>
                                                <br/>
                                                <label for ="id_correctanswerB">
                                                    B   
                                                    <input id="id_correctanswerB" name="correctanswer" type="radio" style="height:35px; width:35px; vertical-align: middle;" value="B"/>
                                                </label>
                                                <br/>
                                                <label for ="id_correctanswerC">
                                                    C     
                                                    <input id="id_correctanswerC" name="correctanswer" type="radio" style="height:35px; width:35px; vertical-align: middle;" value="C"/>
                                                </label>
                                        </td>
                                    </tr>
                                </table>
                            </li> 
                        </ul>
                    </form>
                </div>

                <button id="id_quizsubmitstage2" onclick="quizstage2();"> Save and add another entry </button>
                <br/>
            </section>
            <br>
            <button id="quizexitbutton" onclick="quizexit();"> Submit quiz </button>
        </div>
    </body>
    <script>
        var quillDescription;
        var submitData = {};
        var quizEntryArray = [];
        var repeats = 1;

        $(document).ready(function()
        {
            quillDescription = new Quill('#quizDescription', {
                theme: 'snow'
            });
            $('#quizexitbutton').hide();
        });

        function quizstage1()
        {
            if(validateInput()){
                // CHECK MISSION NAME UNIQUE¨
                $('#section1').hide();
                $('#section2').fadeIn(200).removeClass('hidden');
                submitData['Quizname'] = $('#quizTitle').val();
                submitData['Description'] = quillDescription.container.innerHTML;
                submitData['Quiztimer'] = $('#quizTimer').val();
                submitData['Creator'] = "{{ me }}";
                $('#headerText').fadeOut(function (){ $(this).html("Question nr: " + repeats.toString());}).fadeIn();
                $('#headerText2').fadeOut(function (){ $(this).html("Please fill out the form!");}).fadeIn();
                $(window).scrollTop(0);
            }
        }

        function quizstage2()
        {
            quizEntryArray.push($('#question').val());
            quizEntryArray.push($('#id_A').val());
            quizEntryArray.push($('#id_B').val());
            quizEntryArray.push($('#id_C').val());
            quizEntryArray.push($('input[name=correctanswer]:checked').val());

            $('#question').val("");
            $('#id_A').val("");
            $('#id_B').val("");
            $('#id_C').val("");
            $('input[name="correctanswer"]').prop('checked', false);

            repeats = repeats +1;
            $(window).scrollTop(0);
            
            DisplayInputSuccess();
            $('#quizexitbutton').show();
            $('#headerText').fadeOut(function (){ $(this).html("Question nr: " + repeats.toString());}).fadeIn();
        }
        function quizexit()
        {
            for(i=0; i<quizEntryArray.length;i++)
                submitData[i] = quizEntryArray[i];
            submitData['APISession'] = "{{APISession|safe}}";
            var request = $.ajax({
            url: "http://127.0.0.1:7000/v1/quiz/",
            type: "POST",
            data: submitData,
            });
            
            DisplayResults(request);
        }
        //TODO: Inte nöjd med detta, kolla på annan lösning
        function validateInput()
        {
            if($('#quizTitle').val()==""){
                DisplayInputFailed();
                return false;
            }    
            if($('#quizTimer').val()==""){
                DisplayInputFailed();
                return false;
            }
            return true;
        }
    </script>
</html>
{% endblock content %}