{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE HTML>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
	</head>
    <!-- Body -->
    <body>   
        <!-- Wrapper -->
        <div id="wrapper">

        <!-- Header -->
            <header id="header" >
                <h1 id = "id_headertext">Good Luck!</h1>
            </header>

            <section id="main">
                <div class ="container">
                    <h2 id = "id_shorttext" style="color:black"></h2>
                    <ul id="list"></ul>
                </div>

                <script>
                    var len = 0; 
                    $(document).ready(function () 
                    {
                        $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:7000/v1/news/quiz/"+ "{{ID}}" + "/",                            
                        dataType: "json",
                        success: function(data) {
                            console.log(data);
                            
                                articleHTML = '<article><h1>'+ data.quiz[0].QuizName + '</h1>';
                                console.log(data.quiz);
                                console.log(data.quizentry);
                                len = data.quizentry.length
                                for(i=0; i<data.quizentry.length;i++){
                                    articleHTML += '<p style ="color:black">'+ "Question 1: " + data.quizentry[i].Question +'</p>';
                                    articleHTML += '<form action="" method="POST" id="quizQuestion'+i.toString()+ '">';                     
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="A">'+ data.quizentry[i].AlternativeA +'</p></aricle></li>';
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="B">'+ data.quizentry[i].AlternativeB +'</p></aricle></li>';
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="C">'+ data.quizentry[i].AlternativeC +'</p></aricle></li>';
                                    articleHTML += '</form>';
                                    console.log(data.quizentry[0]);
                                
                                }
                                $('#list').append(articleHTML);
                        // ...
                        }
                        });
                    });
                </script>
                <button id="completeQuizButton" onclick="completeQuiz()">Submit!</button> 
                <script type="text/javascript">
                    function completeQuiz()
                    {
                        myJson = {};
                        myJson['articleID'] = '{{ ID }}';
                        myJson['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                        for(i=0; i<len;i++){
                            myJson[i.toString()] = $('input[name=QuizAlternative]:checked', '#quizQuestion'+i.toString()).val()
                        }
                        alert(JSON.stringify(myJson));
                        var request = $.ajax({
                            type: "POST", 
                            url: APIUrl + "news/articlescore/",
                            dataType: "json",
                            data : myJson,
                            success: function(data) {
                                DisplayResults(request);
                            }
                        })
                        var forms = document.getElementsByTagName('form')
                        console.log(forms)

                        Object.keys(forms).forEach(key => console.log(key, forms[key]));
                    }
                    </script>     
            </section>
        </div>
    </body>
</html>
{% endblock %}