{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE HTML>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
    <!-- Body -->
    <body>   
        <!-- Wrapper -->
        <div id="wrapper">

        <!-- Header -->
            <header id="header" >
                <h1 id = "id_headertext">Good Luck!</h1>
            </header>

            <section id="main">
                <h2 id = "id_shorttext"></h2>
                <ul id="list"></ul>
                <script>
                        $(document).ready(function () 
                        {
                            $.ajax({
							type: "GET",
                            url: "http://127.0.0.1:7000/v1/news/quiz/"+ "{{ID}}" + "/",                            
							dataType: "json",
							success: function(data) {
                                console.log(data);
                                
                                    articleHTML = '<article><h1>'+ data.quiz[0].QuizName + '</h1>';
                                    console.log(data.quiz);
                                    console.log(data.quizentry);
                                    for(i=0; i<data.quizentry.length;i++){
                                        articleHTML += '<p>'+ data.quizentry[i].Question +'</p>';
                                        articleHTML += '<form action="" method="POST" id="quizQuestion{{i}}">';                     
                                        articleHTML += '<input type="radio" name="QuizAlternative" value="A">'+ data.quizentry[i].AlternativeA +'</p></aricle></li>';
                                        articleHTML += '<input type="radio" name="QuizAlternative" value="B">'+ data.quizentry[i].AlternativeB +'</p></aricle></li>';
                                        articleHTML += '<input type="radio" name="QuizAlternative" value="C">'+ data.quizentry[i].AlternativeC +'</p></aricle></li>';
                                        articleHTML += '</form>';
                                        console.log(data.quizentry[0]);
                                    
                                    }
                                    $('#list').append(articleHTML);
								
								
							// ...
							}
						    });
                        });
                </script>
            </section>
        </div>
    </body>
</html>
{% endblock %}