{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE HTML>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
	</head>
    <!-- Body -->
    <body>   
        <!-- Wrapper -->
        <div id="wrapper">

        <!-- Header -->
            <header id="header" >
                <h1 id = "id_headertext">Good Luck!</h1>
            </header>

            <section id="main">
                <ul id="list">
                    <h1 id = "id_shorttext" style="color:white"></h1>
                    <p id="longQuizDescription" class="container"></p>
                </ul>
                <div> Time left: <span id="time"></span> minutes!</div>
                <script>
                    var len = 0; 
                    $(document).ready(function () 
                    {
                        $.ajax({
                        type: "GET",
                        url: APIUrl + "quiz/article/{{ID}}/",                            
                        dataType: "json",
                        data: {'APISession' : "{{APISession|safe}}"},
                        success: function(data) {
                            articleHTML = '<br>'
                            $('#id_shorttext').text(data.quiz[0].name.toString());
                            
                            // config for the quiz description
                            var config = {
						    "theme": "snow",
						    "readOnly": true,
						    "modules": {
							    "toolbar": false
						    },
						    "toolbar": [{ header: [1] }, {color: ['white']}]
						    };
                            quizDescription = new Quill('#longQuizDescription', config);
                            quizDescription.container.innerHTML = data.quiz[0].description;
							quizDescription = new Quill('#longQuizDescription', config);

                                len = data.quizentry.length
                                for(i=0; i<data.quizentry.length;i++){
                                    articleHTML += '<div class="container"';
                                    articleHTML += '<p style ="color:black">'+ "Question "+(i+1).toString()+": " + data.quizentry[i].question +'</p>';
                                    articleHTML += '<form action="" method="POST" id="quizQuestion'+i.toString()+ '">';                     
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="A">'+ data.quizentry[i].alta +'</p></aricle></li>';
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="B">'+ data.quizentry[i].altb +'</p></aricle></li>';
                                    articleHTML += '<input type="radio" name="QuizAlternative" value="C">'+ data.quizentry[i].altc +'</p></aricle></li>';
                                    articleHTML += '</form>';
                                    articleHTML += '</div>;'
                                
                                }
                                $('#list').append(articleHTML);
                                var Quiztimer = data.quiz[0].quiztimer * 60,
                                display = $('#time');
                                startTimer(Quiztimer, display);
                        // ...
                        }
                        });

                        $.ajax({
                            type: "POST", 
                            url: APIUrl + "article/{{ID}}/score/",
                            dataType: "json",
                            data: {
                                'APISession' : "{{APISession|safe}}",
                                'ArticleID' : "{{ ID }}",
                                'Creator' : "{{ me }}",
                            },
                            success: function(data) {
                                // alert("quiz started!");
                            },
                            error: function(data){
                                window.stop();
                                window.location.href = HOMEURL;

                            }
                        })
                        function startTimer(duration, display) {
                        var timer = duration, minutes, seconds;
                        var quizTimer = setInterval(function () {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            display.text(minutes + ":" + seconds);

                            if (--timer < 0) {
                                clearInterval(quizTimer);
                            }
                        }, 1000);
                        }
                    });
                </script>
                <button id="completeQuizButton" onclick="completeQuiz()">Submit!</button> 
                <script type="text/javascript">
                    function completeQuiz()
                    {
                        myJson = {};
                        myJson['articleID'] = '{{ ID }}';
                        myJson['Creator'] = "{{ me }}";
                        myJson['APISession'] = "{{APISession|safe}}";
                        for(i=0; i<len;i++){
                            myJson[i.toString()] = $('input[name=QuizAlternative]:checked', '#quizQuestion'+i.toString()).val()
                        }
                        var request = $.ajax({
                            type: 'PATCH', 
                            url: APIUrl + "article/{{ID}}/score/",
                            dataType: "json",
                            crossDomain: true,
                            data : myJson,
                            success: function(data) {
                                DisplayResults(request);
                            }
                        })
                        var forms = document.getElementsByTagName('form')
                        console.log(forms)

                        Object.keys(forms).forEach(key => console.log(key, forms[key]));
                    }
                    </script>     
            </section>
        </div>
    </body>
</html>
{% endblock %}