{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>
<script src="{% static "assets/js/News.js" %}"></script>
<html>
	<style>
	#list li:nth-of-type(1n+3) {
  		display: none;
	}
	 .newspage ul{
		list-style: none;
		color:white;
		
		/* list-style-image: -webkit-radial-gradient(1000); */
	 }
	 .newspage h1{
		 color:black;
	 }
	 .newspage li{
		 border-style:groove;
	 }
	 .newspage a{
		 text-decoration: none;
		 color: black;
	 }
	 .newspage p{
		 text-decoration: none;
		 color: black;
	 }
	</style>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body>
    
	<!-- Wrapper -->
		<div class="newspage" id="wrapper">

		<!-- Header -->
			<header id="header" >
				<h1 id = "id_headertext">Newspage</h1>
			</header>

		<!-- Main -->
			<section id="main">
				<h1 style="color:white">News:</h1>
				<ul id="list">
				</ul>
				<script>
					$(document).ready(function () {
						$.ajax({ 
							type: "GET",
							url: "http://127.0.0.1:7000/v1/news/",
							dataType: "json",
							success: function(data) {
								// alert(JSON.stringify(data));
								jQuery(data).each(function(index, data){
									articleHTML = '<li class = "container"><article><h1><a href = "http://127.0.0.1:8000/news/'+ data.id.toString()+'">'+ data.title + '</a></h1><p>'+ data.subtitle+'</p></article></li>';
									$('#list').append(articleHTML);
								})
							// ...
							}
						})
						});
						function showMore(){
							var visibleItems = $("ul > li:visible").length;
							var liLength=$("li").length;
							console.log(visibleItems);
							console.log(liLength);
							if(liLength > visibleItems){
								$("ul li:hidden").slice(0, 2).show();
							}
						}
				</script>
				<!-- <button name="showMoreButton" onclick="showMore();">Show More</button> -->
			</section>
			<script>
				console.log($("li").length);
				console.log($("ul > li:visible").length);
				// TODO: fixa så att den visar knappen bara om li > li:visible
				if($("li").length = $("ul > li:visible").length){
					var button = document.createElement("button");
					button.innerHTML = "Show More";
					var body = document.getElementById("main");

					body.append(button);
					button.addEventListener("click", showMore);
					
				}
			</script>

        </div>
	</body>
</html>


{% endblock %}
