{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>
<html>
	<style>
	#list li:nth-of-type(1n+7) {
  		display: none;
	}
	 .newspage ul{
		list-style: none;
		color:white;
		
		/* list-style-image: -webkit-radial-gradient(1000); */
	 }
	 .newspage h1{
		 color:black;
	 }
	 .newspage li{
		 border-style:groove;
	 }
	 .newspage a{
		 text-decoration: none;
		 color: black;
	 }
	 .newspage p{
		 text-decoration: none;
		 color: black;
	 }
	</style>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body>
    
	<!-- Wrapper -->
		<div id="wrapper">

		<!-- Header -->
			<header id="header" >
				<h1 id = "id_headertext">Newspage</h1>
			</header>

		<!-- Main -->
			<section id="main">
				<h1 style="color:white">News:</h1>
				<div class = "newspage">
					<ul id="list">
					</ul>
				</div>
				
				<script>
					var articles = {}
					$(document).ready(function () {
						$.ajax({ 
							type: "GET",
							url: APIUrl + "article/",
							dataType: "json",
							success: function(data) {
								articles = data
								jQuery(articles).each(function(index, data){
									articleHTML = '<li class = "container"><article><h1><a href ="'+ HOMEURL +'news/'+ data.id.toString()+'/">'+ data.title + '</a></h1><p>'+ data.subtitle+'</p></article></li>';
									$('#list').append(articleHTML);
								})
								if($("#list li").length > $("#list > li:visible").length){
									var button = document.createElement("button");
									button.id="showMore";
									button.innerHTML = "Show More";
									var body = document.getElementById("main");
									body.append(button);
									button.addEventListener("click", showMore);
							
						}
							// ...
							}
						})
						});
						function showMore(){
							if($("#list li").length > $("#list > li:visible").length){
								$("ul li:hidden").slice(0, 2).show();
							}
							if($("#list > li:visible").length == $("#list li").length){
								$("#showMore").hide();
							}
						
						}

				</script>
			</section>
			<script>

			</script>

        </div>
	</body>
</html>


{% endblock %}
