
<!DOCTYPE html>
{% load static %}

<!-- Load JQUERY -->
<script src="{% static "assets/js/Plugins/Extentions/jquery-3.3.1.min.js" %}"></script>
<!-- Load BASE.JS -->
<script src="{% static "assets/js/Base.js" %}"></script>
<!-- LOAD BOOSTRAP NAVBAR -->
<link rel="stylesheet" href="{% static 'assets/css/Plugins/bootstrap.min.css' %}">
<script src="{% static "assets/js/Plugins/Navbar/popper.min.js" %}"></script>
<script src="{% static "assets/js/Plugins/Navbar/bootstrap.min.js" %}"></script>
<!-- Load SweetAlert2 -->
<script src="{% static "assets/js/Plugins/SA2/sweetalert2.js" %}"></script>
<!-- Load Quill -->
<script src="{% static "assets/js/Plugins/quill/quill.js" %}"> </script>
<link rel="stylesheet" href="{% static 'assets/css/Plugins/quill.snow.css' %}" />


<html>
<style>
#footer p a{
  color: white;
}  

</style>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Education portal{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg" id="navbar">
    <a href="{% url 'home' %}" class="navbar-left">Home <img src="{% static 'images/png/home.png' %}" width="40" height="40"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"><img src="{% static 'images/png/dropdown-icon.png' %}" width="40" height="40"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{% url 'news' %}" class="nav-link">News<img src="{% static 'images/png/chat.png' %}" width="40" height="40"></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'highscores' %}" class="nav-link">Scoreboard<img src="{% static 'images/png/trophy.png' %}" width="40" height="40"></a>
        </li>
        <!-- <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">Settings<img src="{% static 'images/png/settings.png' %}" width="40" height="40"></a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">Logout<img src="{% static 'images/png/return.png' %}" width="50" height="50"></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Login<img src="{% static 'images/png/return.png' %}" width="50" height="50"></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="baseHidden">
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer id="footer">
      <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
      <div> <p>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p></div>
    </footer>
  </div>
  <script>$(document).ready(function () {
    $('div.baseHidden').fadeIn(750).removeClass('baseHidden');
});</script>
</body>
</html>
