{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>
<script src="{% static "assets/js/Create.js" %}"></script>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body onload="onload();">
    
	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header" >
                    <h1 id = "id_headertext">Select a mission type!</h1>
                </header>

			<!-- Main -->
				<section id="main">

                    <table class="table" id="id_quiztable">
                        <tr>
                            <td><label for="id_missionname">Mission name: </label></td>
                            <td><input id="id_missionname" name="missionname" 
                                        type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_missiondescription">Mission description: </label></td>
                            <td><input id="id_missiondescription" name="missiondescription" 
                                        type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_numberofquestions">How many questions for the quiz? </label></td>
                            <td><input id="id_numberofquestions" name="id_numberofquestions" 
                                        type="number" class="form-control"></td>
                        </tr>
                    </table>
                    <button id="id_quizsubmitstage1" onclick="view();"> Submit </button>

					<!-- Thumbnails -->
					<section class="thumbnails" id="alternatives">
						<div>
							<a name ="quiz" onclick="validate(this.name);">
								<img src="{% static 'images/png/share.png' %}" alt="" />
								<h3>Quiz</h3>
                            </a>
						</div>
                    </section>
                    <form id="quizform">
                        <ul id="id_quizlist">
                            <li>
                                <table class="table" id="id_createquiztable">
                                    <h4> Question: 1 </h4>
                                    <tr>
                                        <td><label for="id_quizquestion">Question: </label></td>
                                        <td><input id="id_quizquestion" name="quizquestion" 
                                                    type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_aswereA">Answer A: </label></td>
                                        <td><input id="id_aswereA" name="id_aswereA" 
                                                    type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_aswereB">Answer B: </label></td>
                                        <td><input id="id_aswereB" name="id_aswereB" 
                                                    type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_aswereA">Answer C: </label></td>
                                        <td><input id="id_aswereC" name="id_aswereC" 
                                                    type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_correctanswer">Correct answer: </label></td>
                                        <td><input id="id_correctanswer" name="id_correctanswer" 
                                                    type="text" class="form-control"></td>
                                    </tr>
                                </table>
                            </li> 
                        </ul>
                    </form>
				</div>
            </section>
            <!-- <script>onload();</script> -->
        </div>
	</body>
</html>



{% endblock %}
