{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
        <meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body>
	<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
            <header id="header" >
                <h1 id = "id_headertext">What do you want to create?</h1>
            </header>
            <!-- Thumbnails --> 
            <section class="thumbnails" id="alternatives">
            <div>
                    <a href="{% url 'create_article' %}" name ="article" ">
                        <img src="{% static 'images/png/edit.png' %}" alt="" />
                        <h3>News Article</h3>
                    </a>
                </div>
                <div>
                    <a href="{% url 'create_quiz' %}" name ="quiz" ">
                        <img src="{% static 'images/png/share.png' %}" alt="" />
                        <h3>Quiz</h3>
                    </a>
                </div>
            </section>
        </div>
	</body>
</html>
{% endblock %}
