{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>

<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body>
	<!-- Wrapper -->
		<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<h1>Welcome <strong>{{ user.username }}</strong> to the best information gamification page of all time.</h1>
			</header>

		<!-- Main -->
			<section id="main">
				<!-- Thumbnails -->
				<section class="thumbnails">
					<div>
						<a href="{% url 'news' %}">
							<img src="{% static 'images/png/chat.png' %}" alt="" />
							<h3 style="color:white">News And Articles</h3>
						</a>
					</div>
					<div>
						<a href="{% url 'highscores' %}">
							<img src="{% static 'images/png/trophy.png' %}" alt="" />
							<h3 style="color:white">Highscores</h3>
						</a>

					</div>
					{% if role == "superuser" %}
						<div>
							<a href="{% url 'create' %}">
								<img src="{% static 'images/png/atomic.png' %}" alt="" />
								<h3 style="color:white">Create!</h3>
							</a>
						</div>
					{% endif %}
				</section>
			</section>
		</div>
	</body>
</html>

{% endblock %}
