{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE HTML>
<script src="{% static "assets/js/News.js" %}"></script>
<html>
	<!-- Head -->
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
	</head>
	<!-- Body -->
	<body>
    
	<!-- Wrapper -->
		<div id="wrapper">

		<!-- Header -->
			<header id="header" >
				<h1 id = "id_headertext">Newspage</h1>
			</header>

		<!-- Main -->
			<section id="main">
				<h1>News:</h1>
				<ul id="list">
					<li>
						<article>
							<h1><a href="" title=""><!-- news title --></a></h1>
							<img src="" alt="" />
							<p><!-- news description --></p>
						  </article>
					</li>
				</ul>
				<div class="container"></div>
				<script>
					$(document).ready(function () {
						$.ajax({ 
							type: "GET",
							url: "http://127.0.0.1:7000/v1/news/",
							dataType: "json",
							success: function(data) {
								$(".container").append('<div>' + data.title + '</div><div>' + data.description + '</div>');
							// ...
							}
						})
						});
				</script>
            </section>

        </div>
	</body>
</html>



{% endblock %}
