.navbar-expand-lg{
    background-color: rgba(94, 63, 63, 0.8);
    border-color: rgba(10, 9, 9, 0.8);
}
.navbar-expand-lg .navbar-brand,
.navbar-expand-lg .navbar-text {
    color: rgba(58, 54, 54, 0.8);
}

/* change the link color */
.navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(7, 7, 7, 0.5);
}
/* change the color of active or hovered links */
.navbar-expand-lg .nav-item.active .nav-link,
.navbar-expand-lg .nav-item:hover .nav-link {
    color: #ffffff;
}
input[type="button"]{
    background-color: #8ec3eb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }